body {
    background-color: rgb(13, 8, 85);

}
.character-container{
    border: solid gold 3px;
    background-image: url('background2.png');
    height: 500px;
    width: 600px;
}
span{
    color: gold;
}
.color>p{
color: azure;
font-family: lu ;
}
.character-profile {
    margin: 22px 33px;
}