body {
    background-image: url('viego.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.character-container{
    border: solid gold 3px;
    background-image: url('background2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 780px;
    width: 600px;
}
span{
    color: gold;
}
.container-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 15%;
}
.color>p{
color: azure;
font-family:'Times New Roman', Times, serif ;
font-size: 30px;
}
.character-profile {
    margin: 22px 33px;
}

img {
    width: 45vh;
    height: 45vh;
}
.info{
    position: relative;
    right: 750px;
    bottom: 750px;
    text-align: right;
    color: white;
    font-size: 20px;
}

.stat{
    text-align: right;
    color: white;
    position: relative;
    right: 450px;
    bottom: 987px;
    font-size: 20px;
}

.level{
    text-align: right;
    color: white;
    position: relative;
    right: 150px;
    bottom: 1510px;
    font-size: 20px;
}