body {
    background-image: url('viego.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;

}
.character-container{
    border: solid gold 3px;
    background-image: url('background2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 780px;
    width: 600px;
}
span{
    color: gold;
}
.color>p{
color: azure;
font-family:'Times New Roman', Times, serif ;
font-size:30px;
padding: 3%;
}
.character-profile {
    margin: 22px 33px;
}

img {
    width: 45vh;
    height: 45vh;
}
.info{
    margin-right: 3.4rem;
}

.stat{
    flex-direction: row-reverse;
    margin-right: 2.4rem;
}

.level{
    margin-right: 1.4rem;
}

.info, .stat, .level {
    text-align: left;
    color: white;
    font-size: 20px;
}
.character-info{
    display: flex;
    flex-direction:row;
    /*justify-content: space-between;*/
    justify-content: flex-end;
    margin-left: 25px;
}