<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <script src="../static/js/search.js"></script>
        <title>Document</title>
    </head>
    <body>
        <div class="big-mom">
            <div class="busqueda">
                <form>
                    <input type="search" onkeyup="search()" id="input-search" placeholder="Recherche...">
                </form>
                <div class="button-container">
                    <input type="button" value="Assassin" id="Assassin" onclick = assassin() >
                    <input type="button" value="Combattants" id="Combattants" onclick = fighter() >
                    <input type="button" value="Magiciens" id="Magiciens" onclick = mage() >
                    <input type="button" value="Tireur" id="Tireur" onclick = marksman() >
                    <input type="button" value="Support" id="Support" onclick = support() >
                    <input type="button" value="Tank" id="Tank" onclick = tank() >
                </div>
            </div>
            <div class="character-container" id="test">
                {{range .Data}}
                <div class="character-profile {{.Name}} {{range .Tags -}} {{.}} {{end}}">
                    <h3><!---name = --->{{.Name}}</h3>
                    <a href="/lore/{{.Name}}">
                        <img src="http://ddragon.leagueoflegends.com/cdn/12.5.1/img/champion/{{.Image.Full}}"> 
                    </a>
                    <p><!---Title =--->{{.Title}}</p>
                </div>
                {{end}}

            </div>
        </div>
    </body>
</html>